In [96]:
import requests
import json
import pandas as pd

# Константы
TOTAL_EPISODS=51

# Класс для общения с API из задания
class APIRequests():
    def __init__ (self):
        self.episode_path='https://rickandmortyapi.com/api/episode/'
        self.character_path='https://rickandmortyapi.com/api/character/'

    def get_episode_json(self, num_episode:str):
        print(requests.get(self.episode_path+num_episode).content)
        return json.loads(requests.get(self.episode_path+num_episode).content)

    def get_origin_name_of_character(self, character_url:str):
        print(requests.get(character_url).content)
        return json.loads(requests.get(character_url).content)['origin']['name']
    
    def get_character_name(self, character_url:str):
        print(requests.get(character_url).content)
        return json.loads(requests.get(character_url).content)['name']

# Класс для формирования витрины данных по заданию
class ETLProcesser():
    def __init__(self):
        self.earth_arr=[]
        self.air_date_arr=[]
        self.req = APIRequests()
    # Основная функция проекта, которая получает необходимую витрину данных
    def earth_by_mounth(self):
        for i in range(1, TOTAL_EPISODS+1):
            episode = req.get_episode_json(str(i))
            #print(episode)
            earth_from_episode = 0
            air_date=episode['air_date']
            for i in range(len(episode['characters'])):
                character_origin_name = req.get_origin_name_of_character(episode['characters'][i])
                if character_origin_name.find('Earth')!=-1:
                    earth_from_episode+=1
            self.earth_arr.append(earth_from_episode)
            self.air_date_arr.append(air_date)
        return [self.air_date_arr, self.earth_arr]

In [97]:
# Запуск ETL процесса с целью получения необходимой витрины данных
etl = ETLProcesser()
answer = etl.earth_by_mounth()
print(answer)

[['December 2, 2013', 'December 9, 2013', 'December 16, 2013', 'January 13, 2014', 'January 20, 2014', 'January 27, 2014', 'March 10, 2014', 'March 17, 2014', 'March 24, 2014', 'April 7, 2014', 'April 14, 2014', 'July 26, 2015', 'August 2, 2015', 'August 9, 2015', 'August 16, 2015', 'August 23, 2015', 'August 30, 2015', 'September 13, 2015', 'September 20, 2015', 'September 27, 2015', 'October 4, 2015', 'April 1, 2017', 'July 30, 2017', 'August 6, 2017', 'August 13, 2017', 'August 20, 2017', 'August 27, 2017', 'September 10, 2017', 'September 17, 2017', 'September 24, 2017', 'October 1, 2017', 'November 10, 2019', 'November 17, 2019', 'November 24, 2019', 'December 8, 2019', 'December 15, 2019', 'May 3, 2020', 'May 10, 2020', 'May 17, 2020', 'May 24, 2020', 'May 31, 2020', 'June 20, 2021', 'June 27, 2021', 'July 4, 2021', 'July 11, 2021', 'July 18, 2021', 'July 25, 2021', 'August 1, 2021', 'August 8, 2021', 'September 5, 2021', 'September 5, 2021'], [11, 8, 15, 8, 7, 22, 8, 13, 9, 23, 14, 10, 4, 4, 6, 18, 8, 12, 4, 5, 6, 13, 17, 13, 7, 8, 13, 10, 8, 12, 8, 32, 11, 7, 4, 13, 1, 5, 6, 4, 7, 5, 33, 11, 19, 7, 19, 6, 7, 4, 12]]

In [98]:
# Формирование и препроцессинг дата фрейма с данными от API
df = pd.DataFrame(answer[1], index=answer[0], columns=['num_of_earth'])
df.index = pd.to_datetime(df.index)
df.index.name='air_date'
df

            num_of_earth
air_date
2013-12-02            11
2013-12-09             8
2013-12-16            15
2014-01-13             8
2014-01-20             7
2014-01-27            22
2014-03-10             8
2014-03-17            13
2014-03-24             9
2014-04-07            23
2014-04-14            14
2015-07-26            10
2015-08-02             4
2015-08-09             4
2015-08-16             6
2015-08-23            18
2015-08-30             8
2015-09-13            12
2015-09-20             4
2015-09-27             5
2015-10-04             6
2017-04-01            13
2017-07-30            17
2017-08-06            13
2017-08-13             7
2017-08-20             8
2017-08-27            13
2017-09-10            10
2017-09-17             8
2017-09-24            12
2017-10-01             8
2019-11-10            32
2019-11-17            11
2019-11-24             7
2019-12-08             4
2019-12-15            13
2020-05-03             1
2020-05-10             5
2020-05-17             6
2020-05-24             4
2020-05-31             7
2021-06-20             5
2021-06-27            33
2021-07-04            11
2021-07-11            19
2021-07-18             7
2021-07-25            19
2021-08-01             6
2021-08-08             7
2021-09-05             4
2021-09-05            12

In [99]:
# Загрузка данных в sqlite3 базу данных
engine = sqlalchemy.create_engine('sqlite:///sqlite3.db', echo=False)
df.to_sql('earth_characters', con=engine, if_exists='replace')

51